<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ReactAdvisor" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar foundation-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">
              ReactAdvisor
            </a>
          </h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="">
            <%= link_to 'manage restaurants', '/admin' %>
          </li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
